@model Instagram.Models.UserAndProfilePic
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagram - @ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="~/images/icon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Instagram.styles.css" asp-append-version="true" />
</head>
<body class="controlPanel">
    <div class="container-fluid vessel p-0 m-0">
        <div class="row m-0 p-0 veil_2">
            <div class="m-0 p-0 sidebar" id="sidebar">
                <div class="titleTag mb-4">
                    <div class="titleBox py-4">
                        <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-strava" viewBox="0 0 16 16">
                            <path d="M6.731 0 2 9.125h2.788L6.73 5.497l1.93 3.628h2.766L6.731 0zm4.694 9.125-1.372 2.756L8.66 9.125H6.547L10.053 16l3.484-6.875h-2.112z" />
                        </svg>&nbsp;<h1>Instagram</h1>
                        &nbsp;
                        @if (Model.ProfilePic == null)
                        {
                            <img src="~/images/developer.png" />
                        }
                        else
                        {
                            <img src="/@Model.ProfilePic.ImageFile" />
                        }
                    </div>
                </div>
                <div class="menus">
                    <ul>
                        <li>
                            <a class="menuStuff menuHover" asp-controller="Home" asp-action="Dashboard">
                                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-house-heart-fill" viewBox="0 0 16 16">
                                    <path d="M7.293 1.5a1 1 0 0 1 1.414 0L11 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l2.354 2.353a.5.5 0 0 1-.708.707L8 2.207 1.354 8.853a.5.5 0 1 1-.708-.707L7.293 1.5Z" />
                                    <path d="m14 9.293-6-6-6 6V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9.293Zm-6-.811c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.691 0-5.018Z" />
                                </svg>&nbsp;<p>Home</p>
                            </a>
                        </li>
                        <li>
                            <a class="menuStuff menuHover" asp-controller="Home" asp-action="Friends">
                                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
                                </svg>&nbsp;<p>Friends</p>
                            </a>
                        </li>
                        <li>
                            <a class="menuStuff menuHover" asp-controller="Home" asp-action="Community">
                                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-x-diamond-fill" viewBox="0 0 16 16">
                                    <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L4.047 3.339 8 7.293l3.954-3.954L9.049.435zm3.61 3.611L8.708 8l3.954 3.954 2.904-2.905c.58-.58.58-1.519 0-2.098l-2.904-2.905zm-.706 8.614L8 8.708l-3.954 3.954 2.905 2.904c.58.58 1.519.58 2.098 0l2.905-2.904zm-8.614-.706L7.292 8 3.339 4.046.435 6.951c-.58.58-.58 1.519 0 2.098l2.904 2.905z" />
                                </svg>&nbsp;<p>Community</p>
                            </a>
                        </li>
                        <li>
                            <a class="menuStuff menuHover" asp-controller="Home" asp-action="MyPosts">
                                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-layers-fill" viewBox="0 0 16 16">
                                    <path d="M7.765 1.559a.5.5 0 0 1 .47 0l7.5 4a.5.5 0 0 1 0 .882l-7.5 4a.5.5 0 0 1-.47 0l-7.5-4a.5.5 0 0 1 0-.882l7.5-4z" />
                                    <path d="m2.125 8.567-1.86.992a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882l-1.86-.992-5.17 2.756a1.5 1.5 0 0 1-1.41 0l-5.17-2.756z" />
                                </svg>&nbsp;<p>My Posts</p>
                            </a>
                        </li>
                        <li>
                            <a class="menuStuff activateMenu" asp-controller="Home" asp-action="Profile">
                                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-file-earmark-post" viewBox="0 0 16 16">
                                    <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z" />
                                    <path d="M4 6.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-7zm0-3a.5.5 0 0 1 .5-.5H7a.5.5 0 0 1 0 1H4.5a.5.5 0 0 1-.5-.5z" />
                                </svg>&nbsp;<p>Profile</p>
                            </a>
                        </li>
                        <li>
                            <a class="menuStuff menuHover" asp-controller="Home" asp-action="SignOut">
                                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z" />
                                </svg>&nbsp;<p>Sign Out</p>
                            </a>
                        </li>
                        <li><img src="~/images/the_tree_of_time.svg" /></li>
                    </ul>
                </div>
            </div>
            <div class="m-0 p-5 main" id="main">
                <div class="toggle toggleHandler" onclick="ToggleSidebar()">
                    <div class="togglebox toggleboxHeight" id="togglebox">
                        <div class="toggleLine toggle1" id="toggle1"></div>
                        <div class="toggleLine toggle2" id="toggle2"></div>
                    </div>
                </div>
                <div class="p-5"></div>
                <div class="col-lg-9 ms-0 p-0 content" id="content">
                    @if (ViewData["message"] != null)
                    {
                        <div class="alert alert-dismissible fade show col-lg-10 m-0" style="background: #6082B625; color: #600060d0;">
                            <div class="d-flex align-items-center message">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cloud-drizzle-fill" viewBox="0 0 16 16">
                                    <path d="M4.158 12.025a.5.5 0 0 1 .316.633l-.5 1.5a.5.5 0 0 1-.948-.316l.5-1.5a.5.5 0 0 1 .632-.317zm6 0a.5.5 0 0 1 .316.633l-.5 1.5a.5.5 0 0 1-.948-.316l.5-1.5a.5.5 0 0 1 .632-.317zm-3.5 1.5a.5.5 0 0 1 .316.633l-.5 1.5a.5.5 0 0 1-.948-.316l.5-1.5a.5.5 0 0 1 .632-.317zm6 0a.5.5 0 0 1 .316.633l-.5 1.5a.5.5 0 1 1-.948-.316l.5-1.5a.5.5 0 0 1 .632-.317zm.747-8.498a5.001 5.001 0 0 0-9.499-1.004A3.5 3.5 0 1 0 3.5 11H13a3 3 0 0 0 .405-5.973z" />
                                </svg>&nbsp;
                                <div>
                                    @ViewData["message"]
                                </div>
                            </div>

                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        </div>
                        <div class="p-5"></div>
                    }
                    <div class="editForm p-5 col-lg-6 m-0">
                        <div class="profileMessage">
                            <div class="d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                                </svg>&nbsp;&nbsp;
                                <p>Update your profile here.</p>
                            </div>   
                            <a asp-controller="Home" asp-action="Profile">
                                <svg id="closeEdit" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z" />
                                </svg>
                            </a>                            
                        </div>

                        <div class="p-4"></div>

                        @using (Html.BeginForm("UpdateImage", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {                            
                            @Html.AntiForgeryToken()
                            <div class="m-0 p-0 d-flex align-items-center justify-content-around">
                                <div class="editImage position-relative">
                                    @if (Model.ProfilePic == null)
                                    {
                                        <img src="~/images/developer.png" />
                                    }
                                    else
                                    {
                                        <img src="/@Model.ProfilePic.ImageFile" />
                                    }
                                    <input type="file" name="file" class="imageInput" id="imageInput" onchange="$(this).closest('form').submit();"/>
                                    <label for="imageInput" class="imageLabel"></label>
                                </div>                                
                            </div>
                        }
                    @using(Html.BeginForm("Edit", "Home", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="p-4"></div>
                        <div class="form-cover">
                            <label class="label-title">Name</label>
                            <div class="input-cover">
                                <input name="name" type="text" class="input" value="@Model.User.Name" placeholder="Please enter your name" autocomplete="off" />
                                <label class="label-cover">
                                    <img src="~/images/butterfly.png" />
                                </label>
                            </div>
                        </div>

                        <div class="p-4"></div>
                        <div class="form-cover">
                            <label class="label-title">Username</label>
                            <div class="input-cover">
                                <input name="username" type="text" class="input" value="@Model.User.Username" placeholder="Please enter your username" autocomplete="off" />
                                <label class="label-cover">
                                    <img src="~/images/butterfly.png" />
                                </label>
                            </div>
                        </div>

                        <div class="p-4"></div>
                        <div class="form-cover">
                            <label class="label-title">Email</label>
                            <div class="input-cover">
                                <input name="email" type="text" class="input" value="@Model.User.Email" placeholder="Please enter your email" autocomplete="off" />
                                <label class="label-cover">
                                    <img src="~/images/butterfly.png" />
                                </label>
                            </div>
                        </div>

                        <div class="p-4"></div>
                        <div class="form-cover">
                            <label class="label-title">Phone</label>
                            <div class="input-cover">
                                <input name="phone" type="tel" class="input" value="@Model.User.Phone" placeholder="Please enter your phone number here" autocomplete="off" />
                                <label class="label-cover">
                                    <img src="~/images/butterfly.png" />
                                </label>
                            </div>
                        </div>

                        <div class="p-4"></div>
                        <div class="form-cover">
                            <label class="label-title">Job</label>
                            <div class="input-cover">
                                <input name="job" type="text" class="input" value="@Model.User.Job" placeholder="Please tell us about your Job" autocomplete="off" />
                                <label class="label-cover">
                                    <img src="~/images/butterfly.png" />
                                </label>
                            </div>
                        </div>
                        <div class="form-cover">
                            <label class="label-title">Firm</label>
                            <div class="input-cover">
                                <input name="firm" type="text" class="input" value="@Model.User.Firm" placeholder="Please tell us about your firm" autocomplete="off" />
                                <label class="label-cover">
                                    <img src="~/images/butterfly.png" />
                                </label>
                            </div>
                        </div>
                        
                        <div class="p-4"></div>
                        <div class="form-cover">
                            <label class="label-title">Address</label>
                            <div class="input-cover">
                                <input name="address" type="text" class="input" value="@Model.User.Address" placeholder="Your address" autocomplete="off" />
                                <label class="label-cover">
                                    <img src="~/images/butterfly.png" />
                                </label>
                            </div>
                        </div>

                        <div class="p-4"></div>
                        <div class="form-cover">
                            <label class="label-title">Chronicle</label>
                            <div class="input-cover">
                                <textarea name="chronicle" class="input textarea" rows="4">
                                    @Model.User.Chronicle
                                </textarea>
                                <label class="label-cover">
                                    <img src="~/images/butterfly.png" />
                                </label>
                            </div>
                        </div>

                        <div class="p-4"></div>
                        <div class="form-cover">
                            <label class="label-title">Password</label>
                            <div class="input-cover">
                                <input name="password" type="password" class="input" value="@Model.User.Password" placeholder="Your address" autocomplete="off" />
                                <label class="label-cover">
                                    <img src="~/images/butterfly.png" />
                                </label>
                            </div>
                        </div>

                        <div class="p-4"></div><div class="editBtn">
                            <button class="profileBtn" type="submit">Save Details</button>
                        </div>
                    }

                        <div class="p-4"></div>
                        <div class="townImage p-0 m-0">
                            <img src="~/images/town.svg"/>
                        </div>
                    </div>
                    <div class="p-5"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
