@model Instagram.Models.UserAndProfilePic

<html>
<head>
    <title>Dashboard</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0" />
    <link rel="icon" type="image/svg" href="~/admin_images/flower_logo2.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Instagram.styles.css" asp-append-version="true" />

    <style>
        .sideBar {
            position: absolute;
            top: 0;
            left: 0;
            width: 400px;
            height: 100%;
            transition: all 1s ease-in-out;
            background: #ffffff;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
        }

        .main {
            position: absolute;
            top: 0;
            left: 400px;
            background: #00000015;
            width: 100%;
            height: 100vh;
            transition: all 1s ease-in-out;
            overflow-y: scroll;
        }

        .frameCover {
            position: relative;
            width: 100%;
            height: 100vh;
        }

        .toggleAdminSideBar {
            left: -450px;
        }

        .toggleAdminMain {
            left: 0;
        }

        .adminBody {
            overflow: hidden;
        }

        .title {
            padding: 34px 0px 10px 60px;
        }

            .title h1 {
                color: #606060a0;
                letter-spacing: 1px;
                font-size: 34px;
                font-weight: 100;
                width: 100%;
                border-bottom: 1px solid #60606060;
                padding-bottom: 6px;
            }

        .menus {
            width: 100%;
        }

            .menus ul {
                width: 100%;
                padding: 0;
            }

                .menus ul li {
                    list-style: none;
                    padding-left: 40px;
                }

                    .menus ul li a {
                        padding: 2px 0px 2px 25px;
                        color: #606060a0;
                        font-size: 18px;
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        transition-property: all;
                        transition-duration: 1s;
                        transition-timing-function: ease;
                    }

                        .menus ul li a svg {
                            color: #606060a0;
                        }

                        .menus ul li a p {
                            padding-top: 15px;
                            color: #606060d0;
                            letter-spacing: 1px;
                        }

                    .anchor:hover {
                        color: #606060a0;
                        text-decoration: none;
                        background: #BF40BF40;
                        border-left: 6px solid #BF40BF;
                    }

        .activated {
            background: linear-gradient(to right, #BF40BF40, #ffffff15);
            border-left: 6px solid #BF40BF;
        }

        .menus ul li:hover {
        }

        .image {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

            .image img {
                width: 200px;
            }

        .anchor {
            border-left: 6px solid transparent;
        }

        .closeSidebar {
            width: 46px;
            height: 60px;
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        .cover {
            width: 100%;
            height: 46%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transition: all 0.6s ease;
        }

        .line {
            width: 100%;
            padding: 2px;
            background: #606060;
            transition: all 0.6s ease;
        }

        .line_1 {
            transform: rotate(45deg);
        }

        .line_2 {
            transform: rotate(-45deg);
        }

        .coverToggle {
            height: 2px;
        }

        .cardHome {
            background: #ffffff;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        }

        .svgs {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .imageCard {
            background: #60606060;
        }

            .imageCard img {
                width: 100%;
                height: 490px;
            }

        .iconMessage {
            display: flex;
            align-items: center;
        }

            .iconMessage img {
                width: 200px;
            }

            .iconMessage p {
                font-size: 18px;
                letter-spacing: 1px;
                line-height: 29px;
                color: #606060d0;
            }

        .message {
            width: 100%;
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

            .message h1 {
                width: 90%;
                color: #606060d0;
                font-weight: 100;
                font-size: 25px;
                padding-bottom: 6px;
                border-bottom: 1px solid #60606060;
                letter-spacing: 1px;
                margin-bottom: 25px;
            }

            .message p {
                width: 90%;
                color: #606060d0;
                letter-spacing: 1px;
                font-size: 18px;
                line-height: 29px;
            }

        .groupMessage h1 {
            color: #606060d0;
            letter-spacing: 1px;
            font-size: 25px;
            font-weight: 100;
        }

        .groupMessage p {
            color: #606060d0;
            letter-spacing: 1px;
            font-size: 18px;
            line-height: 29px;
        }

        .groupImage {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

            .groupImage img {
                width: 400px;
            }

        .userCard {
            cursor: pointer;
            background: radial-gradient(circle at 0% 0%, #FFFFFFd0, #E5E4E260);
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        }

            .userCard:hover {
                box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
            }




        .datetimeDetails {
            background: #E5E4E2;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 13px 0px 0px 13px;
            border-top: 1px solid #C0C0C0;
            border-bottom: 1px solid #ffffff;
        }

            .datetimeDetails p {
                color: #606060d0;
                font-size: 15px;
                letter-spacing: 1px;
            }

        .imageProfile {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        .user {
            font-size: 20px;
            letter-spacing: 1px;
            color: #606060d0;
            border-bottom: 1px solid #60606060;
            padding-bottom: 4px;
            margin-bottom: 25px;
            width: 100%;
            text-transform: uppercase;
        }


        .profileCard {
            border-left: 6px solid #708090;
            background: radial-gradient(circle at 0% 0%, #FFFFFF, #C0C0C0);
            height: auto;
            margin: auto auto;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
        }

        .profileInfo {
            color: #606060d0;
        }


            .profileInfo h1 {
                font-size: 25px;
                letter-spacing: 1px;
                font-weight: 400;
                padding-bottom: 6px;
                border-bottom: 1px solid #60606040;
                margin-bottom: 15px;
            }

        .profileImage img {
            width: 150px;
            height: 150px;
            border-radius: 100px;
        }

        .profileImage {
            text-align: center;
        }

        .data_1 {
            text-align: center;
        }

        .contactInfo {
            display: flex;
            justify-content: space-around;
        }

        .profileInfo p {
            letter-spacing: 1px;
            line-height: 29px;
            font-weight: 400;
        }

        .p_name {
            font-size: 25px;
        }

        .p_job {
            font-size: 15px;
            margin-bottom: 25px;
            text-transform: uppercase;
            color: #606060a0;
        }

        .p_text {
            font-size: 18px;
            line-height: 29px;
        }

        .h1_profile {
            font-size: 29px;
            margin-bottom: 25px;
        }

        .data_2 {
            width: 100%;
        }

        .profilePlant {
            width: 250px;
        }

        .info {
            color: #606060d0;
            font-size: 17px;
            letter-spacing: 1px;
        }

        .imageProfile img {
            width: 150px;
            height: 150px;
        }

        .userCardData {
            flex: 1;
            padding-right: 40px;
            padding-left: 25px;
            padding-top: 25px;
        }

        .datetime {
            color: #606060d0;
            letter-spacing: 1px;
            font-size: 15px;
            padding-left: 15px;
            padding-right: 15px;
        }


        .edit {
            width: 150px;
            height: 150px;
            background: #7393B3;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
            display: flex;
            align-items: center;
            justify-content: space-around;
            color: #ffffff;
            flex-direction: column;
            padding: 25px 0px 0px 0px;
            cursor: pointer;
            transition: all 0.6s ease;
            text-decoration: none;
        }

            .edit:hover {
                text-decoration: none;
                color: #ffffff;
                box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            }

            .edit p {
                font-size: 18px;
                letter-spacing: 1px;
                text-shadow: 1px 1px 1px #00000060;
            }

        .ban {
            width: 150px;
            padding: 6px 25px 6px 25px;
            cursor: pointer;
            background: #C21E56;
            color: #ffffff;
            font-size: 19px;
            text-transform: uppercase;
            letter-spacing: 1px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            text-shadow: 1px 1px 1px #000000a0;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        }

        .ban:hover {
                box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        }

        .ban p {
            padding-top: 15px;
        }

        .allow {
            width: 150px;
            padding: 6px 25px 6px 25px;
            cursor: pointer;
            background: #6082B6;
            color: #ffffff;
            font-size: 19px;
            text-transform: uppercase;
            letter-spacing: 1px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            text-shadow: 1px 1px 1px #000000a0;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        }

        .allow:hover {
                box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        }

        .allow p {
            padding-top: 15px;
        }

        .removeUser {
            cursor: pointer;
            color: #C0C0C0;
            filter: drop-shadow(1px 1px 1px #C0C0C0);
        }

        .removeUser:hover {
                filter: drop-shadow(1px 1px 1px #606060a0);
        }
    </style>
</head>
<body class="adminBody">
    <div class="container-fluid m-0 p-0">
        <div class="m-0 p-0 frameCover">
            <div class="m-0 p-0 sideBar" id="adminSidebar">
                <div class="title">
                    <h1>Welcome Admin!!</h1>
                </div>
                <div class="menus">
                    <ul>
                        <li>
                            <a class="anchor" asp-controller="Home" asp-action="AdminDash">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-signpost-fill" viewBox="0 0 16 16">
                                    <path d="M7.293.707A1 1 0 0 0 7 1.414V4H2a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h5v6h2v-6h3.532a1 1 0 0 0 .768-.36l1.933-2.32a.5.5 0 0 0 0-.64L13.3 4.36a1 1 0 0 0-.768-.36H9V1.414A1 1 0 0 0 7.293.707z" />
                                </svg>&nbsp;&nbsp;<p>Home</p>
                            </a>
                        </li>

                        <li>
                            <a class="activated" asp-controller="Home" asp-action="People">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-balloon-heart-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8.49 10.92C19.412 3.382 11.28-2.387 8 .986 4.719-2.387-3.413 3.382 7.51 10.92l-.234.468a.25.25 0 1 0 .448.224l.04-.08c.009.17.024.315.051.45.068.344.208.622.448 1.102l.013.028c.212.422.182.85.05 1.246-.135.402-.366.751-.534 1.003a.25.25 0 0 0 .416.278l.004-.007c.166-.248.431-.646.588-1.115.16-.479.212-1.051-.076-1.629-.258-.515-.365-.732-.419-1.004a2.376 2.376 0 0 1-.037-.289l.008.017a.25.25 0 1 0 .448-.224l-.235-.468ZM6.726 1.269c-1.167-.61-2.8-.142-3.454 1.135-.237.463-.36 1.08-.202 1.85.055.27.467.197.527-.071.285-1.256 1.177-2.462 2.989-2.528.234-.008.348-.278.14-.386Z" />
                                </svg>&nbsp;&nbsp;<p>People</p>
                            </a>
                        </li>

                        <li>
                            <a class="anchor" asp-controller="Home" asp-action="Queries">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-folder-symlink-fill" viewBox="0 0 16 16">
                                    <path d="M13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2l.04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14h10.348a2 2 0 0 0 1.991-1.819l.637-7A2 2 0 0 0 13.81 3zM2.19 3c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672a1 1 0 0 1 .707.293L7.586 3H2.19zm9.608 5.271-3.182 1.97c-.27.166-.616-.036-.616-.372V9.1s-2.571-.3-4 2.4c.571-4.8 3.143-4.8 4-4.8v-.769c0-.336.346-.538.616-.371l3.182 1.969c.27.166.27.576 0 .742z" />
                                </svg>&nbsp;&nbsp;<p>Queries</p>
                            </a>
                        </li>

                        <li>
                            <a class="anchor" asp-controller="Home" asp-action="Posts">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-gem" viewBox="0 0 16 16">
                                    <path d="M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6l3-4zm11.386 3.785-1.806-2.41-.776 2.413 2.582-.003zm-3.633.004.961-2.989H4.186l.963 2.995 5.704-.006zM5.47 5.495 8 13.366l2.532-7.876-5.062.005zm-1.371-.999-.78-2.422-1.818 2.425 2.598-.003zM1.499 5.5l5.113 6.817-2.192-6.82L1.5 5.5zm7.889 6.817 5.123-6.83-2.928.002-2.195 6.828z" />
                                </svg>&nbsp;&nbsp;<p>Posts</p>
                            </a>
                        </li>

                        <li>
                            <a class="anchor" asp-controller="Home" asp-action="AdminCommunity">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-house-heart-fill" viewBox="0 0 16 16">
                                    <path d="M7.293 1.5a1 1 0 0 1 1.414 0L11 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l2.354 2.353a.5.5 0 0 1-.708.707L8 2.207 1.354 8.853a.5.5 0 1 1-.708-.707L7.293 1.5Z" />
                                    <path d="m14 9.293-6-6-6 6V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9.293Zm-6-.811c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.691 0-5.018Z" />
                                </svg>&nbsp;&nbsp;<p>Community</p>
                            </a>
                        </li>

                        <li>
                            <a class="anchor" asp-controller="Home" asp-action="Chats">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-chat-heart-fill" viewBox="0 0 16 16">
                                    <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15Zm0-9.007c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z" />
                                </svg>&nbsp;&nbsp;<p>Chats</p>
                            </a>
                        </li>

                        <li>
                            <a class="anchor" asp-controller="Home" asp-action="About">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                                </svg>&nbsp;&nbsp;<p>About</p>
                            </a>
                        </li>

                        <li>
                            <a class="anchor" asp-controller="Home" asp-action="ContactDeveloper">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-lightbulb-fill" viewBox="0 0 16 16">
                                    <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13h-5a.5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm3 8.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1-.5-.5z" />
                                </svg>&nbsp;&nbsp;<p>Contact Us</p>
                            </a>
                        </li>

                        <li>
                            <a class="anchor" asp-controller="Home" asp-action="SignOut">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z" />
                                </svg>&nbsp;&nbsp;<p>Sign Out</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="image">
                    <img src="~/admin_images/time_2.svg" />
                </div>
            </div>
            <div class="m-0 p-5 main" id="adminMain">

                <div class="closeSidebar" onclick="ToggleAdminSideBar()">
                    <div class="cover coverToggle" id="cover">
                        <div class="line line_1" id="line_1"></div>
                        <div class="line line_2" id="line_2"></div>
                    </div>
                </div>
                <div class="col-lg-9 m-0 p-0 dataContainer">
                    @if (ViewData["message"] != null)
                    {
                        <div class="alert alert-dismissible fade show col-lg-9 m-auto" style="background: #60006025; color: #60006060;">
                            <div class="d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cloud-drizzle-fill" viewBox="0 0 16 16">
                                    <path d="M4.158 12.025a.5.5 0 0 1 .316.633l-.5 1.5a.5.5 0 0 1-.948-.316l.5-1.5a.5.5 0 0 1 .632-.317zm6 0a.5.5 0 0 1 .316.633l-.5 1.5a.5.5 0 0 1-.948-.316l.5-1.5a.5.5 0 0 1 .632-.317zm-3.5 1.5a.5.5 0 0 1 .316.633l-.5 1.5a.5.5 0 0 1-.948-.316l.5-1.5a.5.5 0 0 1 .632-.317zm6 0a.5.5 0 0 1 .316.633l-.5 1.5a.5.5 0 1 1-.948-.316l.5-1.5a.5.5 0 0 1 .632-.317zm.747-8.498a5.001 5.001 0 0 0-9.499-1.004A3.5 3.5 0 1 0 3.5 11H13a3 3 0 0 0 .405-5.973z" />
                                </svg>&nbsp;
                                <div>
                                    @ViewData["message"]
                                </div>
                            </div>

                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        </div>
                    }
                    <div class="p-5"></div>
                    <div class="d-flex align-items-center justify-content-between">
                        <a class="edit" asp-controller="Home" asp-action="People">
                            <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z" />
                            </svg>
                            <p>Get Back</p>
                        </a>
                        @using (Html.BeginForm("RemoveUser", "Home", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="userId" value="@Model.User.Id"/>
                            <div class="removeUser" onclick="$(this).closest('form').submit();">
                                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-trash2-fill" viewBox="0 0 16 16">
                                    <path d="M2.037 3.225A.703.703 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2a.702.702 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671L2.037 3.225zm9.89-.69C10.966 2.214 9.578 2 8 2c-1.58 0-2.968.215-3.926.534-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466-.18-.14-.498-.307-.975-.466z" />
                                </svg>
                            </div>
                        }                        
                    </div>
                    
                    <div class="p-4"></div>
                    <div class="profileCard col-lg-12 p-5">
                        <div class="row m-0 p-0 profileInfo">
                            <div class="col-lg-3 m-0 p-0">
                                <div class="profileImage">
                                    @if (Model.ProfilePic == null)
                                    {
                                        <img src="~/images/developer.png" />
                                    }
                                    else
                                    {
                                        <img src="/@Model.ProfilePic.ImageFile" />
                                    }
                                </div>

                                <div class="p-2"></div>
                                <div class="data_1">
                                    <p class="p_name">@Model.User.Name</p>
                                    @if (Model.User.Job != null)
                                    {
                                        <p class="p_job">@Model.User.Job</p>
                                    }
                                </div>
                                <div class="contactInfo">
                                    <div>
                                    @if (Model.User.Phone != null)
                                    {
                                        <p class="p_text">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                                            </svg>&nbsp;@Model.User.Phone
                                        </p>
                                    }
                                    <p class="p_text">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                                            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z" />
                                        </svg>&nbsp;@Model.User.Email
                                    </p>
                                    </div>
                                </div>

                                <div class="p-4"></div>
                                <div class="data_2">
                                    <h1>Extras</h1>
                                    <p class="p_text">Date: @Model.User.DateTimeOfRegistration.ToString("MMMM dd, yyyy")</p>
                                    <p class="p_text">Time: @Model.User.DateTimeOfRegistration.ToString("HH:mm:ss tt")</p>
                                </div>
                            </div>
                            <div class="col-lg-1 m-0 p-4"></div>
                            <div class="col-lg-5 m-0 p-0">
                                <h1>Firm</h1>
                                @if (Model.User.Firm != null)
                                {
                                    <p class="p_text">@Model.User.Firm</p>
                                }
                                else
                                {
                                    <p class="p_text">Not Applicable</p>
                                }
                                <div class="p-2"></div>
                                <h1>Chronicle</h1>
                                @if (Model.User.Chronicle != null)
                                {
                                    <p class="p_text">@Model.User.Chronicle</p>
                                }
                                else
                                {
                                    <p class="p_text">Not Applicable</p>
                                }
                                <div class="p-2"></div>
                                <h1>Address</h1>
                                @if (Model.User.Address != null)
                                {
                                    <p class="p_text">@Model.User.Address</p>
                                }
                                else
                                {
                                    <p class="p_text">Not Applicable</p>
                                }
                            </div>
                            <div class="col-lg-1 m-0 p-4"></div>
                            <div class="col-lg-2 m-0 p-0 d-flex align-items-end justify-content-around">
                                <img src="~/images/plant.png" class="profilePlant" />
                            </div>
                        </div>
                    </div>

                        <div class="p-4"></div>
                        
                    <div class="d-flex justify-content-end">
                        
                        @if (Model.User.BANNED == false)
                        {
                            @using (Html.BeginForm("BanUser", "Home", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="userId" value="@Model.User.Id" />
                                <div class="ban" onclick="$(this).closest('form').submit();">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-door-closed-fill" viewBox="0 0 16 16">
                                        <path d="M12 1a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2a1 1 0 0 1 1-1h8zm-2 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                    </svg><p>Ban</p>
                                </div>
                            }

                        }
                        else
                        {
                            @using (Html.BeginForm("AllowUser", "Home", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="userId" value="@Model.User.Id"/>
                                <div class="allow" onclick="$(this).closest('form').submit();">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor" class="bi bi-door-open-fill" viewBox="0 0 16 16">
                                        <path d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2h.5a.5.5 0 0 1 .5.5V15h-1V2zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z" />
                                    </svg><p>Allow</p>
                                </div>
                            }
                            
                        }                       
                        
                    </div>
                    <div class="p-5"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/AdminSite.js" asp-append-version="true"></script>
</body>
</html>